body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* შავი ფონდი */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    width: 100%;
    background-color: #222; 
  }
  
  .navbar {
    padding: 40px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
  }
  
  .navbar li {
    margin-right: 100px;
  }
  
  .navbar a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: color 0.3s;
  }
  
  .link-home { color: #3369ff; }
  .link-about { color: #ff3392; }
  .link-services { color: #75ff33; }
  .link-contact { color: #ff33a8; }
  
  .navbar a:hover {
    color: #ffff00; 
  }
  
  .card {
    background-color: #2f00ff7c; 
    border-radius: 40px;
    padding: 40px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px; 
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff; 
  }
  
  p {
    font-size: 30px;
    opacity: 0.75;
  }
  
  .stats {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  
  .attribution a {
    color: hsl(228, 100%, 26%);
  }
  